<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoshabao.vkan.mapper.ProjectMapper">
	<sql id="projectColumns">
		vk_project.project_id,vk_project.project_name,
		vk_project.project_prefix,vk_project.project_path,
		vk_project.create_time
	</sql>
	<sql id="projectColumnsRef">
		${prefix}.project_id,${prefix}.project_name,
		${prefix}.project_prefix,${prefix}.project_path,
		${prefix}.create_time
	</sql>
	<insert id="insert" useGeneratedKeys="true" keyProperty="projectId">
		insert into
		vk_project
		(project_id,project_name,project_prefix,project_path,create_time)
		values (null, #{projectName,jdbcType=VARCHAR},
		#{projectPrefix,jdbcType=VARCHAR},
		#{projectPath,jdbcType=VARCHAR},SYSDATE())
	</insert>
	<select id="getProjectEntity" resultType="com.xiaoshabao.vkan.entity.ProjectEntity"
		parameterType="com.xiaoshabao.vkan.entity.ProjectEntity">
		select
		<include refid="projectColumns" />
		from vk_project
		<where>
			<if test="projectId != null and projectId !=''">
				and project_id=#{projectId}
			</if>
			<if test="projectName != null and projectName !=''">
				and project_name=#{projectName}
			</if>
			<if test="projectPrefix != null and projectPrefix !=''">
				and project_prefix=#{projectPrefix}
			</if>
			<if test="projectPath != null and projectPath !=''">
				and project_path=#{projectPath}
			</if>
		</where>
	</select>
	
	<select id="getProjectEntityList" resultType="com.xiaoshabao.vkan.entity.ProjectEntity"
		parameterType="com.xiaoshabao.vkan.entity.ProjectEntity">
		select
		<include refid="projectColumns" />
		from vk_project
		<where>
			<if test="projectId != null and projectId !=''">
				and project_id=#{projectId}
			</if>
			<if test="projectName != null and projectName !=''">
				and project_name=#{projectName}
			</if>
			<if test="projectPrefix != null and projectPrefix !=''">
				and project_prefix=#{projectPrefix}
			</if>
			<if test="projectPath != null and projectPath !=''">
				and project_path=#{projectPath}
			</if>
		</where>
	</select>
	
	<select id="getProjectPrefixList" resultType="java.lang.String" >
		select project_prefix from vk_project a GROUP BY a.project_prefix
	</select>

</mapper>